body {
	background-color:black;

}
#font {
	color:white;
	font-family: sans-serif;
	font-size: 21px;
}
#fineprint {
	color:white;
	font-family: serif;
	font-size: 5px;
}
#button{
	button {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #000;
}
}
